<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IN528ATE_tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <IN528ATE_tool.Properties.Settings>
            <setting name="binpath" serializeAs="String">
                <value />
            </setting>
            <setting name="wavepath" serializeAs="String">
                <value />
            </setting>
            <setting name="specifypath" serializeAs="String">
                <value />
            </setting>
            <setting name="vinList" serializeAs="String">
                <value />
            </setting>
            <setting name="IoutList" serializeAs="String">
                <value />
            </setting>
            <setting name="itemSel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ontime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="offtime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mtp_en" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mtp_slave" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mtp_addr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mtp_data" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="slave" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sp_slave" serializeAs="String">
                <value>0</value>
            </setting>
        </IN528ATE_tool.Properties.Settings>
    </userSettings>
</configuration>
